@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Aref+Ruqaa|Cormorant+Unicase|Kotta+One|Marcellus+SC|Scope+One&display=swap');

/*

font-family: 'Alegreya SC', serif;
font-family: 'Cormorant Unicase', serif;
font-family: 'Aref Ruqaa', serif;
font-family: 'Scope One', serif;
font-family: 'Kotta One', serif;
font-family: 'Marcellus SC', serif;

*/
body{
  background-color: #333333;
}


h1, a, a:hover{
  font-family: 'Marcellus SC', serif;
  color: #f02e6a;
}

.container-lg{
  width: 650px;
  margin: 0 auto;
}
